element.style {
}
div {
    display: block;
    background-color:#e7bad8;
    padding: 20px;
    font-family: calibri;
    font-size: 40px;  
}


button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: bold;
    font-stretch: ;
    font-size: 16px;
    font-family: calibri;
    text-rendering: auto;
    color:#ffffff;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: #4CAF50;
    border-radius: 25%;
   
    margin: 0em;
    padding: 16px 8px;
    border-width: 2px;
    border-style: outset;
    border-color: #000000;
    border-image: initial;
}
